img.mypic {
    border-radius: 50%;
}

body {
    background-color: #EAF6F6;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h3 {
    color: #66bfbf;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 0.2em;
    width: 10vw;
}

footer {
    text-align: center;
    background-color: rgb(238, 226, 190);
    margin: 0;
    padding: 0.6%;
    margin-top: 40px;
}

.intro, .bio, .skills, .accom, .proj {
    padding: 0.6%;
    padding-left: 1em;
}

.intro {
    background-color: #EAF6F6;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
}
