img.mypic {
    border-radius: 50%;
}

body {
    background-color: #F1EEE9;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

h1, h3 {
    color: #15133C;
    font-weight: bold;
}

.heading-featured {
    color: #92B4EC;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #15133C;
    border-width: 0.2em;
    width: 10vw;
}

footer {
    text-align: center;
    background-color: #15133C;
    color: white;
    margin: 0;
    padding: 0.6%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro, .bio, .skills, .accom, .proj {
    padding: 0.6%;
    padding-left: 1em;
}

.heading {
    border-bottom: 1px solid #15133C;
    width: 15rem;
}

.intro {
    padding: 0.6%;
    padding-left: 1em;
    display: flex;
    /* background-color: #EAF6F6; */
}

.profile-pic {
    margin: auto 1em;
}

a {
    text-decoration: none;
}

a:hover, .social-media img:hover {
    text-decoration: underline;
    transform: scale(1.09);
    transition: 0.1s;
}

.line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1em;
}


.one, .three {
    border-bottom: 1px dotted #15133C;
    border-width: 0.1em;
    height: 1px;
    width: 40vw;
    flex-grow: 1;
}

.two {
    border-bottom-style: dotted;
    border-color: #15133C;
    border-width: 0.2em;
    height: 1px;
    width: 10vw;
}

.name {
    width: 100%;
    top: 0;
    padding: 0.1em 0;
    border-bottom: 1px solid #15133C;
    width: 30vw;
}

.social-media-icons {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.social-media-icons {
    padding: 0 0.15rem;
}

#github-icon {
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
}

@media (max-width: 630px) {
    .intro {
        flex-direction: column;
        align-items: center;
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-pic {
        padding-top: 1em;
        padding-bottom: 0;
    }

    .name {
        width: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        padding: 0.1em 0;
        max-width: 80vw;
    }
}
